/* imports */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300,400;700&display=swap');


/* base styles */
body{
  background-color: hsl(212, 45%, 89%);
	font-size: 12px;
	font-family:'Outfit', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
}

h1{
  font-size: 2em;
	opacity: 0;
	width: 100%;
	margin: 20px auto;
	animation-name: slide-up;
	animation-timing-function: ease-in-out;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	overflow: hidden;
	font-weight: 700;
}

p{
  font-size: 1.25em;
	opacity: 0;
	margin: 20px auto;
	animation-name: slide-down;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-delay: .7s;
	animation-duration: 1s;
	font-weight: 400;
	color: hsl(220, 15%, 55%);
}

img{
	width: 100%;
	border-radius: 15px;
}


/* main styles */

.qr-component{
	background-color: white;
  width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding: 15px;
	border-radius: 20px;
  max-width: 320px;
	text-align: center;
	transition: background 0.5s ease-in;
}

.qr-component__image{
	width: 100%;
 	margin: 0 auto;
}

.attribution { 
	font-size: 1em; 
	text-align: center; 
	position: absolute; 
	left: -20px; 
	top: 65%; 
	transform: rotate(-90deg) translateY(30px); 
	transform-origin: left;
	transition: transform 0.4s ease-in-out;
}

.attribution a { 
	color: hsl(228, 45%, 44%); 
	text-decoration: none; 
}


/* animation styles */
@keyframes slide-up{
	from{
		transform: translateY(30%);
		opacity: 0;
	}
	to{
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes slide-down{
	from{
		transform: translateY(-30%);
		opacity: 0;
	}
	to{
		transform: translateY(0%);
		opacity: 1;
	}
}